.rounded-box{
   
            background: url(../../assets/images/formborder.png);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            
}


.input-form-md-rounded {
        background-color: $grey-a;
        border: 1px solid $gray-b; 
        font-family: 'Inter'; 
}